<div>
    <h1>ANGULAR IS SPA(single page application)</h1>
    <!-- <h2>
        <a href="/personaje">Personajes</a>
    </h2> -->
    <h2 class="bg-primary text-light" routerLink="/personaje">Personajes</h2>
    <!-- <h2 class="bg-primary text-light" routerLink="/pipe-directiva">Pipes y directivas</h2>
    <h2 class="bg-primary text-light" routerLink="/parent">Herencia</h2> -->
    <h2 class="bg-primary text-light" routerLink="/personaje/favoritos">Favoritos</h2>
    <h2 class="bg-danger text-light" (click)="singOut()">SALIR</h2>
</div> 